.MainTitle
{
  FONT-FAMILY: Verdana;
  FONT-SIZE: 15pt;
  FONT-WEIGHT: bold;
  FONT-STYLE: normal;
  COLOR: #000000;
  border: 1 outset #0768AC;
}


a
{ 
   text-decoration: none ;
   color : white;
}

BODY
{
SCROLLBAR-FACE-COLOR: rgb(0,0,99); 
SCROLLBAR-HIGHLIGHT-COLOR: white; 
SCROLLBAR-SHADOW-COLOR: white; 
COLOR: black; 
SCROLLBAR-3DLIGHT-COLOR: rgb(0,0,99); 
SCROLLBAR-ARROW-COLOR: rgb(255,255,255); 
SCROLLBAR-TRACK-COLOR: rgb(0,0,99); 
SCROLLBAR-DARKSHADOW-COLOR: rgb(0,0,99);
BACKGROUND-COLOR:#FFFFFF;
}

.PageTitle
{
  font-family: Verdana, Arial, Helvetica;
  font-weight: bold;
  font-style: normal;
  font-size: 10px;
  width: 100%;
  padding-top:4px;
  padding-bottom: 4px;
  color: #000000;
  font-variant: normal;
  border: 1px solid #31659C;
  background-color: #D7D7D7;
  text-align: center;
}

.SubTitle
{
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-WEIGHT: normal;
  FONT-STYLE: normal;
  FONT-SIZE: 10pt;
  WIDTH: 100%;
  COLOR: #000000;
  FONT-VARIANT: normal;
}

.TopPack
{
  height: 5px;
  FONT-SIZE: 5px;
}

.MiddlePack
{
  height: 5px;
  FONT-SIZE: 5px;
}

.BottomPack
{
  height: 5px;
  FONT-SIZE: 5px;
}

.TabBody
{
  background-color: #FFFFFF;
  border-right: 2px outset ;
  border-left: 2px outset #FFFFFF;
  border-bottom: 2px outset;
  valign:"top";
}

.TabBodyWithTopLine
{
  background-color: #FFFFFF;
  border-top: 1px solid;
  border-right: 2px outset ;
  border-left: 2px outset;
  border-bottom: 2px outset;
  valign:"top";
}

.TabCurrentCell
{
  background-color: #31659C;
  valign:bottom;
  align :center;
  border-right: 2px outset;
  border-left: 2px outset #FFFFFF;
  border-top: 2px outset;  

  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE:10px;
  FONT-WEIGHT: normal;
  color :#ffffff;
  valign:bottom;
  align :center;
}

.TabCurrentTable
{
  height:17px;
  FONT-WEIGHT: bold;
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE:10px;
  color :#cccccc;
  valign:bottom;
  align:center;
}

.TabCell
{
 border-bottom: 1px solid #FFFFFF;
 border-left: 1px solid #31659C;
 BACKGROUND-COLOR:#336699; 
 cursor: pointer;
}

.TabCellEnd
{
 border-bottom: 1px solid #FFFFFF;
 border-left: 1px solid #31659C;
}

.TabCellTopRow
{
 border-left: 1px solid #31659C;
 BACKGROUND-COLOR:#336699; 
 cursor: pointer;
}

.TabCellTopRowEnd
{
 border-left: 1px solid #31659C;
}

.TabTable
{
  height:15px;
  background-color: #FFFFFF;
  valign:bottom;
  align :center;
  border-right: 1px outset;
  border-left: 1px outset;
  border-top: 1px outset;  

  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 11px;
  FONT-WEIGHT: normal;
  FONT-STYLE: normal;
  color :#000000;
}

.TabTableRoll
{
  height:15px;
  background-color: #336699;
  valign:bottom;
  align :center;
  border-right: 2px outset;
  border-left: 2px outset #FFFFFF;
  border-top: 2px outset;  
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 10px;
  FONT-WEIGHT: normal;
  FONT-STYLE: normal;
  color :#FFFFFF;
}

.ToolBarTable
{
  height=35px;
  border: 1px solid #FFFFFF;
}

.ToolBarCell
{
  color: #000000;
  BACKGROUND-COLOR: #D2E9FF;
  border: 2px outset #FFFFFF;
  
}
.ToolBarCellRoll
{
  color: #000000;
  BACKGROUND-COLOR: #6699cc;
  border: 2 outset #FFFFFF;
  
}

.ToolBarCellClick
{
  color: #000000;
  BACKGROUND-COLOR: #6699cc;
  border: 2px inset #FFFFFF;
  
}

.frmbody
{
  VALIGN: BOTTOM;
  padding-left: 0;
  padding-top: 0;
  OVERFLOW: auto;
  SCROLLBAR-FACE-COLOR: #6699CC; 
  SCROLLBAR-HIGHLIGHT-COLOR: white; 
  SCROLLBAR-3DLIGHT-COLOR:#6699CC; 
  SCROLLBAR-ARROW-COLOR: #000066; 
  SCROLLBAR-TRACK-COLOR: #D2E9FF; 
}

.BodyTable
{
  background-color: #31659C;
  border: 1px solid #31659C;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.FieldCell
{
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 11px;
  FONT-WEIGHT: normal;
  FONT-STYLE: normal;
  color :#000000;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 5px;
}

.FieldCellSub
{
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 11px;
  FONT-WEIGHT: normal;
  FONT-STYLE: normal;
  color :#000000;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
}

.PopUpTable
{
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 11px;
  FONT-WEIGHT: normal;
  FONT-STYLE: normal;
  color :#000000;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
}

.FormElem
{
  FONT-FAMILY: Verdana, Arial, Helvetica;
  font-size: 10px; 
  FONT-WEIGHT: normal;
  FONT-STYLE: normal;
  COLOR: #000000;
  border: solid 1px #6699cc;
}

.FormElemRead
{
  FONT-FAMILY: Verdana, Arial, Helvetica;
  font-size: 10px; 
  FONT-WEIGHT: normal;
  FONT-STYLE: normal;
  COLOR: #000000;
  border: None;
  BACKGROUND-COLOR:#D7D7D7;
}

.ActionCell
{
  border: 1px solid #6699CC;
  border-style: outset;
  vertical-align: middle;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  background-color:#FFFFFF;
  text-align: center;
}

.ActionButton
{
 width: 65px;
 font-family: Verdana;
 font-size: 10px; 
 color: #000000; 
 border-style: outset;
 border-width: 1px;
 BACKGROUND-COLOR:#D7D7D7; 
 cursor: pointer;
}

.ActionButton2
{
 width: 120px;
 font-family: Verdana;
 font-size: 10px; 
 color: #FFFFFF; 
 border-style: outset;
 border-width: 1px;
 BACKGROUND-COLOR:#000066; 
 cursor: pointer;
}

.ActionButtonX
{
 font-family: Verdana;
 font-size: 10px; 
 color: #FFFFFF; 
 border-style: outset;
 border-width: 1px;
 BACKGROUND-COLOR:#000066; 
 cursor: pointer;
}

.AddButton
{
 width: 80px;
 font-family: Verdana;
 font-size: 10px; 
 color: #FFFFFF; 
 border-right: 1px outset #000000;
 border-left: 1px outset #dddddd;
 border-top: 1px outset #dddddd;
 border-bottom: 1px outset #000000;
 BACKGROUND-COLOR:#2A6695; 
 cursor: pointer;
}

.AddButton2
{
 width: 120px;
 font-family: Verdana;
 font-size: 10px; 
 color: #FFFFFF; 
 border-right: 1px outset #000000;
 border-left: 1px outset #dddddd;
 border-top: 1px outset #dddddd;
 border-bottom: 1px outset #000000;
 BACKGROUND-COLOR:#2A6695; 
 cursor: pointer;
}

.AddButtonX
{
 font-family: Verdana;
 font-size: 10px; 
 color: #FFFFFF; 
 border-right: 1px outset #000000;
 border-left: 1px outset #dddddd;
 border-top: 1px outset #dddddd;
 border-bottom: 1px outset #000000;
 BACKGROUND-COLOR:#2A6695; 
 cursor: pointer;
}

.GroupTitleLeft
{
 font-family: Verdana;
 font-size: 10px;
 border-bottom: 1px solid #ffffff;
}

.GroupTitleRight
{
 font-family: Verdana;
 font-size: 10px;
 border-bottom: 1px solid #ffffff;
}

.GroupTitle
{
 font-family: Verdana;
 font-size: 10px;
 FONT-WEIGHT: bold;
 color: #ffffff;
}

.GroupTable
{
 border-right: 1px solid #ffffff;
 border-left: 1px solid #ffffff;
 border-bottom: 1px solid #ffffff;
 font-family: Verdana;
 font-size: 10px;
 color: #ffffff;
}

.GroupTableCell
{
 border-right: 1px solid #ffffff;
 border-bottom: 1px solid #ffffff;
 font-family: Verdana;
 font-size: 10px;
 color: #ffffff;
}

.ExcelTable
{
 background-color: #6699cc;
 border: 1px solid #31659C;
}

.ExcelHeaderCell
{
 font-family: Verdana;
 font-weight: bold;
 font-size: 10px;
 background-color: #d3d3d3;
 color: #000000;
}

.ExcelFooterCell
{
 font-family: Verdana;
 font-weight: bold;
 font-size: 10px;
 background-color: #d3d3d3;
 color: #000000;
}

.ExcelSerial
{
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 10px;
  FONT-WEIGHT: normal;
  FONT-STYLE: normal;
  BACKGROUND-COLOR:#d3d3d3;
  color: #000000;
}

.ExcelInputCell
{
 font-family: Verdana;
 font-size: 10px;
 background-color: #ffffff;
 color: #000000;
}

.ExcelDisplayCell
{
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 10px;
  FONT-WEIGHT: normal;
  FONT-STYLE: normal;
  BACKGROUND-COLOR:#FFFFFF;
  padding-left: 2px;
  padding-right: 2px;
  color: #000000;
}

.ExcelAltDisplayCell
{
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 10px;
  FONT-WEIGHT: normal;
  FONT-STYLE: normal;
  BACKGROUND-COLOR:#FFFFFF;
  padding-left: 2px;
  padding-right: 2px;
  color: #000000;
}

.ExcelAverageCell
{
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 10px;
  FONT-WEIGHT: normal;
  FONT-STYLE: normal;
  BACKGROUND-COLOR:#d7d7d7;
  color: #000000;
}

.ExcelDisplayLink
{
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 10px;
  FONT-WEIGHT: normal;
  color: blue;
}

.ExcelFieldCell
{
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 10px;
  FONT-WEIGHT: normal;
  FONT-STYLE: normal;
  color: #000000;
  BACKGROUND-COLOR:#FFFFFF;
}

.TableOutlineOnly
{
  border: 1px solid #FFFFFF;
}

.TableHeaderOutline
{
 font-family: Verdana;
 font-weight: bold;
 font-size: 10px;
 background-color: #6699CC;
 color: #ffffff;
 border: 1px solid #FFFFFF;
}

.TableHeader
{
 font-family: Verdana;
 font-weight: bold;
 font-size: 10px;
 background-color: #6699CC;
 color: #ffffff;
}

.TableFooter
{
 font-family: Verdana;
 font-weight: bold;
 font-size: 10px;
 background-color: #6699CC;
 color: #FFFFFF;
}

.TableInput
{
 font-family: Verdana;
 font-weight: bold;
 font-size: 10px;
 background-color: #FFFFFF;
 color: #ffffff;
}

.DataOnly
{
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 11px;
  FONT-WEIGHT: normal;
  FONT-STYLE: normal;
  padding-left: 2px;
  BACKGROUND-COLOR:D7D7D7;
  color: #000000;
  border: solid 1 #6699cc;
}

.OnePixel
{
  height: 1px;
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 1px;
  BACKGROUND-COLOR:D7D7D7;
}

.ClearPixel
{
  height: 1px;
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 1px;
}
